@model FashionStore.Models.NhomHang
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    @Html.HiddenFor(m => m.MaNH)
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Nhóm Hàng</h4>
        <div class="card">
            <div class="card-header row">
                <div class="col-md-6">
                    <h5>Thêm nhóm hàng</h5>
                </div>
                <div class="col-md-6 text-end">
                    <a href="@Url.Action("Index", "Category")" class="btn btn-primary text-white"><i class="fa-solid fa-rotate-left"></i> Trở về</a>
                    <button type="submit" class="btn btn-success text-white"><i class="fa-solid fa-floppy-disk"></i> Cập nhật</button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="TenNH">Tên nhóm hàng</label>
                    @Html.TextBoxFor(m => m.TenNH, new { @class = "form-control my-2" })
                </div>
            </div>
        </div>
    </div>
}